@charset="utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;

}

html {
    scroll-behavior: smooth
}

body {
    font-family: kozuka-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    background-image: url(topimg1.jpg);
    background-size: cover;
    background-attachment: fixed;

}

/*通常ヘッダー共通+上部固定*/
header {
    padding-top: 10px;
    background-color: rgba(100%, 100%, 100%, 0.9);
    position: fixed;
    width: 100%;
}

header a {
    text-decoration: none;
    color: #000000;
}

header li {
    display: inline;
    margin: 20px 50px;
    font-size: 30px;
}

.title {
    font-family: kozuka-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
}

header li:hover {
    border-bottom: 3px solid #000000;
    color: #808080;
}

main {
    background: rgba(100%, 100%, 100%, 0.9);
    padding-top: 150px;
    padding-bottom: 100px;
}

main .title {
    margin: 50px 0;
    font-size: 35px;
    text-align: center;
}

/*contactpagePCフォーム*/

main ul {
    width: 600px;
    margin: 0 auto;

}

main li {
    margin: 15px 0;
}

main label {
    width: 200px;
    float: left;
    font-size: 15px;
}

.clear {
    clear: both;
}

textarea {
    resize: vertical;
    width: 250px;
    height: 200px;
    max-width: 250px;
    max-height: 300px;
    min-width: 250px;
    min-height: 200px;
}

input[type="checkbox"] {
    cursor: pointer;
}

/*テキスト系の見た目設定*/
input,
textarea {
    border: solid 1px rgb(145, 141, 138);
    border-radius: 5px;
}

input {
    padding: 7px 10px;
}

/*送信リセットの設定*/
.button_wrap {
    text-align: center;
}

.button_wrap p {
    margin-top: 40px;
}

input#button {
    background: #FFFFFF;
    border: solid 1px rgb(145, 141, 138);
    border-radius: 5px;
    padding: 10px 30px;
}

input#button:hover {
    background-color: rgba(100, 100, 100, 0.2);
    cursor: pointer;
}

/*全通常ページフッター共通（ghcページはホームリンクつける）*/
footer {
    background: rgb(145, 141, 138);
    padding-top: 20px;

}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover {
    color: #303030;
}

footer ul {
    margin-left: 300px;
    padding-bottom: 50px;
}

footer li {
    margin: 10px 0;
}

footer .aHorror {
    color: #000;
}

footer .aHorror:hover {
    color: #560000;
}

@media screen and (max-width:1130px) {}

@media screen and (max-width:599px) {}
